body {
  margin: 0;
  font-family: 'Freeman', sans-serif;
  background: #1c2a21;
  color: white;
}


.header-simple {
  background: #3f6b46;
  padding: 12px;
  text-align: center;
}

.logo-simple {
  height: 50px;
}


.form-container {
  width: 380px;
  background: #3b463b;
  margin: 80px auto;
  padding: 45px 25px;
  border-radius: 28px;
  text-align: center;
}


.form-container h2 {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 600;
}



.formulaire-style {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulaire-style input {
  width: 85%;
  max-width: 350px;
  margin: auto;
  padding: 14px;
  font-size: 15px;
  background: #7c857c;
  border: none;
  border-radius: 20px;

  color: #ffffff;       
  font-weight: 700;     
}

.formulaire-style input::placeholder {
  color: #e5e5e5;
  font-weight: 400; 
}


.btn-green {
  margin-top: 10px;
  background: #4d6f56;
  border: none;
  padding: 14px 20px;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Freeman', sans-serif; /* <-- AJOUT IMPORTANT */
}

.btn-green:hover {
  background: #5d8766;
}

.back-btn {
  position: absolute;
  top: 25px;
  left: 25px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.back-btn img {
  width: 32px;   /* taille ajustable */
  opacity: 0.85;
}

.back-btn:hover img {
  opacity: 1;
  transform: translateX(-4px); /* petit mouvement vers la gauche */
}


.footer {
  margin-top: 60px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.85;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 8px;
}